@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}


<script src="~/js/site.js" asp-append-version="true"></script>


<style>
    body {
        background-color: darkolivegreen;
    }











</style>



<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
